SCEPTUNE_PORT=8080

# RA certificate should be a leaf cert signed by the issuing CA
SCEPTUNE_RA_CRT=./RA.crt
SCEPTUNE_RA_KEY=./RA.key

# CA_CRT is the ROOT certificate (trust point anchor), not necessarily the issuing certificate
SCEPTUNE_CA_CRT=./DLN_WiFi_Root_CA.crt
# CA_CHAIN must contain the issuing CA certificate and any intermediates up to and including the ROOT CA
SCEPTUNE_CA_CHAIN=./Chain.pem

# Azure AD Application credentials.
# Needs the followingPermissions:
# - Microsoft Graph: Application.Read.All
# - Intune: scep_challenge_provider
SCEPTUNE_TENANT_ID=015f60ce-bc38-4406-aa9b-a8a0bb2f42f2
SCEPTUNE_CLIENT_ID=079fe702-21dc-4d75-81ad-69c2fa3aa338
SCEPTUNE_CLIENT_SECRET_FILE=./client_secret.txt

# Credentials and API info for Step CA server
# Generate JWK key pair and register the public key with a named Step provisioner
SCEPTUNE_STEP_API_URL=https://localhost:8443
SCEPTUNE_STEP_PROVISIONER_NAME=sceptune
SCEPTUNE_JSON_WEB_KEY_FILE=./scep-ra.key.json
SCEPTUNE_JSON_WEB_KEY_PASSWORD_FILE=./jwk_password.txt